# vim
*.swp

testdiag
testdiag.exe

/.testout
/ictcc
/.sim
/.gen
/diag
/fishic
/.testruns
*.fishispec

# in-prog dist files
/*-darwin-amd64
/*-windows-amd64
/*-linux-amd64

# mac
.DS_Store

# IDEs
/.vscode
/.idea

# default frontend generation
/fe
# we are a go mod household tyvm
/vendor

# archives
*.tar.gz
*.zip

*.exe
__debug_bin.*

