# vim
*.swp

/.testout
/ictcc
/.sim

# mac
.DS_Store

# IDEs
/.vscode
/.idea

# default frontend generation
/fe
# we are a go mod household tyvm
/vendor

# archives
*.tar.gz
*.zip

*.exe
__debug_bin.*

# compiled fishi format
*.cff
